# TOPIC: String Based Assignment Problem

#  Q1. Write a program to reverse a string.

In [1]:
def reverse_string(input_string):
    reversed_string = input_string[::-1]
    return reversed_string

# Input string
input_string = input("Enter a string: ")

# Call the function to reverse the string
reversed = reverse_string(input_string)

# Print the reversed string
print("Reversed string:", reversed)

Enter a string:  ddaheem

Reversed string: meehadd

# Q2. Check if a string is a palindrome.

In [3]:
def is_palindrome(input_string):
    clean_string = ''.join(filter(str.isalnum, input_string)).lower()
    return clean_string == clean_string[::-1]

# Input string
input_string = input("Enter a string: ")

# Check if it's a palindrome
if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  daheem

The string is not a palindrome.

# Q3. Convert a string to uppercase.

In [4]:
def convert_to_uppercase(input_string):
    return input_string.upper()

# Input string
input_string = input("Enter a string: ")

# Convert to uppercase
uppercase_string = convert_to_uppercase(input_string)

# Print the uppercase string
print("Uppercase string:", uppercase_string)

Enter a string:  daheem

Uppercase string: DAHEEM

# Q4. Convert a string to lowercase.

In [6]:
def convert_to_lowercase(input_string):
    return input_string.lower()

# Input string
input_string = input("Enter a string: ")

# Convert to lowercase
lowercase_string = convert_to_lowercase(input_string)

# Print the uppercase string
print("lowercase string:", lowercase_string)

Enter a string:  DAHEEm

lowercase string: daheem

# Q5. Count the number of vowels in a string.

In [7]:
def count_vowels(input_string):
    return sum(1 for char in input_string if char.lower() in 'aeiou')

# Input string
input_string = input("Enter a string: ")

# Count the number of vowels
vowel_count = count_vowels(input_string)

# Print the result
print("Number of vowels:", vowel_count)

Enter a string:  daheem

Number of vowels: 3

# Q6. Count the number of consonants in a string.

In [ ]:
def count_consonants(input_string):
    consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
    return sum(1 for char in input_string if char in consonants)

# Input string
input_string = input("Enter a string: ")

# Count the number of consonants
consonant_count = count_consonants(input_string)

# Print the result
print("Number of consonants:", consonant_count)

# Q 7. Remove all whitespaces from a string.

In [9]:
def remove_whitespace(input_string):
    return input_string.replace(" ", "")

# Input string
input_string = input("Enter a string: ")

# Remove whitespaces
no_whitespace_string = remove_whitespace(input_string)

# Print the result
print("String with whitespaces removed:", no_whitespace_string)

Enter a string:  njf efne fjenf ejfn frkf

String with whitespaces removed: njfefnefjenfejfnfrkf

# Q8. Find the length of a string without using the `len()` function.

In [10]:
def string_length(input_string):
    count = 0
    for _ in input_string:
        count += 1
    return count

# Input string
input_string = input("Enter a string: ")

# Calculate the length without using len()
length = string_length(input_string)

# Print the length of the string
print("Length of the string:", length)

Enter a string:  fmfmytyvtffl,,fllllllllllllllll

Length of the string: 31

# Q9. Check if a string contains a specific word.

In [11]:
I CANT TO THIS QUESTION

SyntaxError: invalid syntax (1803980642.py, line 1)

# Q10. Replace a word in a string with another word.

In [12]:
input_string = input("Enter a string: ")

# Input old word to replace
old_word = input("Enter the word to replace: ")

# Input new word
new_word = input("Enter the new word: ")

# Replace the old word with the new word and print the modified string
modified_string = input_string.replace(old_word, new_word)
print("Modified string:", modified_string)

Enter a string:  DAHEEM
Enter the word to replace:  FAROOQUI
Enter the new word:  AHMAD

Modified string: DAHEEM

# Q11. Count the occurrences of a word in a string.

In [13]:
# Input string
input_string = input("Enter a string: ")

# Input word to count
word_to_count = input("Enter the word to count: ")

# Count the occurrences of the word, case-insensitive
word_count = input_string.lower().count(word_to_count.lower())

# Print the result
print(f"The word '{word_to_count}' appears {word_count} times in the string.")

Enter a string:  hvyh
Enter the word to count:  4

The word '4' appears 0 times in the string.

# Q12. Find the first occurrence of a word in a string.

In [14]:
# Input string
input_string = input("Enter a string: ")

# Input word to find
word_to_find = input("Enter the word to find: ")

# Find the first occurrence of the word
index = input_string.lower().find(word_to_find.lower())

if index != -1:
    print(f"The word '{word_to_find}' first appears at index {index} in the string.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

Enter a string:  daheem
Enter the word to find:  h

The word 'h' first appears at index 2 in the string.

# Q13. Find the last occurrence of a word in a string.

In [16]:
# Input string
input_string = input("Enter a string: ")

# Input word to find
word_to_find = input("Enter the word to find: ")

# Initialize the index of the last occurrence to -1
last_index = -1

# Start searching for the word
index = input_string.lower().find(word_to_find.lower())

while index != -1:
    last_index = index
    index = input_string.lower().find(word_to_find.lower(), index + 1)

if last_index != -1:
    print(f"The word '{word_to_find}' last appears at index {last_index} in the string.")
else:
    print(f"The word '{word_to_find}' was not found in the string.")

Enter a string:  daheem
Enter the word to find:  m

The word 'm' last appears at index 5 in the string.

# Q14. Split a string into a list of words.

In [17]:
# Input string
input_string = input("Enter a string: ")

# Split the string into a list of words
word_list = input_string.split()

# Print the list of words
print("List of words:", word_list)

Enter a string:  daheem

List of words: ['daheem']

# Q15. Join a list of words into a string.

In [ ]:
# Input list of words
word_list = input("Enter a list of words separated by spaces: ").split()

# Join the list of words into a string
result_string = ' '.join(word_list)

# Print the resulting string
print("Resulting string:", result_string)

# Q17. Check if a string starts with a specific word or phrase.

# Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [2]:
# Get user input for the string
input_string = input("Enter a string: ")

# Convert the string to title case
title_case_string = input_string.title()

# Print the title case string
print("Title case string:", title_case_string)

Enter a string:  hello word

Title case string: Hello Word

# Q20. Find the longest word in a string.

In [3]:
# Get user input for the string
input_string = input("Enter a string: ")

# Split the string into words
words = input_string.split()

# Initialize variables to store the longest word and its length
longest_word = ""
max_length = 0

# Iterate through the words to find the longest one
for word in words:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word

# Print the longest word
if longest_word:
    print(f"The longest word in the string is: {longest_word} ({max_length} characters)")
else:
    print("No words found in the string.")

Enter a string:  daheem ahmad farooqui

The longest word in the string is: farooqui (8 characters)

# Q21. Find the shortest word in a string.

In [4]:
# Get user input for the string
input_string = input("Enter a string: ")

# Split the string into words
words = input_string.split()

# Initialize variables to store the shortest word and its length
shortest_word = None
min_length = float('inf')  # Set to positive infinity initially

# Iterate through the words to find the shortest one
for word in words:
    if len(word) < min_length:
        min_length = len(word)
        shortest_word = word

# Print the shortest word
if shortest_word:
    print(f"The shortest word in the string is: {shortest_word} ({min_length} characters)")
else:
    print("No words found in the string.")

Enter a string:  daheem ahmad farooqui

The shortest word in the string is: ahmad (5 characters)

# Q22. Reverse the order of words in a string.

In [7]:
# Get user input for the string
input_string = input("Enter a string: ")

# Split the string into words, reverse the order, and join them back into a string
reversed_string = ' '.join(reversed(input_string.split()))

# Print the string with reversed word order
print("String with reversed word order:", reversed_string)

Enter a string:  daheem ahmd farooqui

String with reversed word order: farooqui ahmd daheem

# Q23. Check if a string is alphanumeric.

In [12]:
# Get user input for the string
input_string = input("Enter a string: ")

# Check if the string is alphanumeric
if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

Enter a string:  daheem@123

The string is not alphanumeric.

# Q24. Extract all digits from a string.

In [13]:
# Get user input for the string
input_string = input("Enter a string: ")

# Use a list comprehension to extract digits from the string
extracted_digits = ''.join([char for char in input_string if char.isdigit()])

# Print the extracted digits
if extracted_digits:
    print("Extracted digits:", extracted_digits)
else:
    print("No digits found in the string.")

Enter a string:  daheem1234567890

Extracted digits: 1234567890

# Q25. Extract all alphabets from a string.

In [14]:
# Get user input for the string
input_string = input("Enter a string: ")

# Use a list comprehension to extract alphabetic characters from the string
extracted_letters = ''.join([char for char in input_string if char.isalpha()])

# Print the extracted letters
if extracted_letters:
    print("Extracted letters:", extracted_letters)
else:
    print("No letters found in the string.")

Enter a string:  dahem64855813446

Extracted letters: dahem

# Q26. Count the number of uppercase letters in a string.

In [15]:
# Get user input for the string
input_string = input("Enter a string: ")

# Initialize a variable to keep track of the count of uppercase letters
uppercase_count = 0

# Iterate through the characters in the string and count uppercase letters
for char in input_string:
    if char.isupper():
        uppercase_count += 1

# Print the count of uppercase letters
print("Number of uppercase letters:", uppercase_count)

Enter a string:  daheem Farooqui

Number of uppercase letters: 1

# Q27. Count the number of lowercase letters in a string.

In [16]:
# Get user input for the string
input_string = input("Enter a string: ")

# Initialize a variable to keep track of the count of lowercase letters
lowercase_count = 0

# Iterate through the characters in the string and count lowercase letters
for char in input_string:
    if char.islower():
        lowercase_count += 1

# Print the count of lowercase letters
print("Number of lowercase letters:", lowercase_count)

Enter a string:  DAhewe

Number of lowercase letters: 4

# Q29. Remove a specific word from a string.

In [ ]:
# Get user input for the string
input_string = input("Enter a string: ")

# Get user input for the word to remove
word_to_remove = input("Enter the word to remove: ")

# Remove the specified word from the string
result_string = input_string.replace(word_to_remove, "")

# Print the string with the specified word removed
print("String with the word removed:", result_string)

# Q30. Check if a string is a valid email address.

In [18]:
import re

# Get user input for the email address
email = input("Enter an email address: ")

# Define a regular expression pattern for a simple email address check
email_pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"

# Check if the input matches the email pattern
if re.match(email_pattern, email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Enter an email address:  hvh

Invalid email address.

# Q31. Extract the username from an email address string.

In [21]:
# Get user input for the email address
email = input("Enter an email address: ")

# Use the split method to extract the username
username = email.split('@')[0]

# Print the extracted username
print("Extracted username:", username)

Enter an email address:  vyghgc@gmail.com

Extracted username: vyghgc

# Q32. Extract the domain name from an email address string.

In [22]:
# Get user input for the email address
email = input("Enter an email address: ")

# Use the split method to extract the domain name
domain = email.split('@')[1]

# Print the extracted domain name
print("Extracted domain name:", domain)

Enter an email address:  gcckgkok@gmail.com

Extracted domain name: gmail.com

# Q35. Extract the protocol (http or https) from a URL string.

In [24]:
import re

# Get user input for the URL
url = input("Enter a URL: ")

# Define a regular expression pattern to extract the protocol
protocol_pattern = r"^(https?://)"

# Use re.search to find the protocol in the URL
match = re.search(protocol_pattern, url)

if match:
    protocol = match.group(1)
    print("Extracted protocol:", protocol)
else:
    print("No protocol found in the URL.")

Enter a URL:  https://www.google.com/

Extracted protocol: https://

# Q38. Check if a string contains only digits.

In [26]:
# Get user input for the string
input_string = input("Enter a string: ")

# Check if the string contains only digits
if input_string.isdigit():
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

Enter a string:  48425

The string contains only digits.

# Q39. Check if a string contains only alphabets.

In [27]:
# Get user input for the string
input_string = input("Enter a string: ")

# Check if the string contains only alphabetic characters
if input_string.isalpha():
    print("The string contains only alphabetic characters.")
else:
    print("The string does not contain only alphabetic characters.")

Enter a string:  ddefrf

The string contains only alphabetic characters.

# Q40. Convert a string to a list of characters.

In [28]:
# Get user input for the string
input_string = input("Enter a string: ")

# Convert the string to a list of characters
char_list = list(input_string)

# Print the list of characters
print("List of characters:", char_list)

Enter a string:  122564

List of characters: ['1', '2', '2', '5', '6', '4']

# Q44. Find the most frequent word in a string.

# Q45. Find all unique words in a string.

In [34]:
# Get user input for the string
input_string = input("Enter a string: ")

# Split the string into words
words = input_string.split()

# Create a set to store unique words
unique_words = set(words)

# Print the unique words
if unique_words:
    print("Unique words in the string:", sorted(unique_words))
else:
    print("No words found in the string.")

Enter a string:  ffff

Unique words in the string: ['ffff']

# Q47. Check if a string contains any special characters.

In [ ]:
# Get user input for the string
input_string = input("Enter a string: ")

# Check if the string contains special characters
if not input_string.isalnum():
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

# List Based Practice Problem :

# Q1. Create a list with integers from 1 to 10.

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 # Q2. Find the length of a list without using the `len()` function.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a count variable to 0
count = 0

# Iterate through the list and increment the count for each element
for _ in my_list:
    count += 1

# The count variable now holds the length of the list
print("The length of the list is:", count)

# Q3. Append an element to the end of a list.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = 0

for _ in my_list:
    count += 1

print("The length of the list is:", count)

The length of the list is: 10

# Q4. Insert an element at a specific index in a list.

In [4]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 10)
print(my_list)

[1, 2, 10, 3, 4, 5]

# Q5. Remove an element from a list by its value.

In [5]:
my_list = [1, 2, 3, 4, 5]

# Remove the element with the value 3
my_list.remove(3)

# The list will now be [1, 2, 4, 5]
print(my_list)

[1, 2, 4, 5]

# Q6. Remove an element from a list by its index.

In [6]:
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2
my_list.pop(2)

# The list will now be [1, 2, 4, 5]
print(my_list)

[1, 2, 4, 5]

# Q7. Check if an element exists in a list.

In [7]:
my_list = [1, 2, 3, 4, 5]

# Check if the element 3 exists in the list
if 3 in my_list:
    print("The element 3 exists in the list.")
else:
    print("The element 3 does not exist in the list.")

The element 3 exists in the list.

# Q8. Find the index of the first occurrence of an element in a list.

In [10]:
my_list = [1, 2, 3, 4, 5, 3, 6]

# Find the index of the first occurrence of the element 3
index = my_list.index(5)

# Print the index
print("The index of the first occurrence of is:", index)

The index of the first occurrence of is: 4

# Q9. Count the occurrences of an element in a list.

In [11]:
my_list = [1, 2, 3, 4, 5, 3, 6]

# Count the occurrences of the element 3
count = my_list.count(3)

# Print the count
print("The element 3 appears", count, "times in the list.")

The element 3 appears 2 times in the list.

# Q10. Reverse the order of elements in a list.

In [12]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list
my_list.reverse()

# The list will now be [5, 4, 3, 2, 1]
print(my_list)

[5, 4, 3, 2, 1]

# Q11. Sort a list in ascending order.

In [6]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in ascending order
my_list.sort()

# The list will now be sorted in ascending order
print(my_list)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

# Q12. Sort a list in descending order.

In [7]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in descending order
my_list.sort(reverse=True)

# The list will now be sorted in descending order
print(my_list)

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

 # Q13. Create a list of even numbers from 1 to 20.

In [12]:
list1 = [10, 21, 8 ,50, 80, 12, 4, 45, 66, 93]
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

10 8 50 80 12 4 66

# Q13. Create a list of even numbers from 1 to 20.

In [8]:
myList =  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
evensList = [x for x in myList if x % 2 == 0]
print(evensList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Q14. Create a list of odd numbers from 1 to 20.

In [9]:
myList = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
oodList = [x for x in myList if x % 2 != 0]
print(oodList)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Q15. Find the sum of all elements in a list.

In [10]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(sum(numbers))

210

# Q16. Find the maximum value in a list.

In [11]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(max(numbers))

20

# Q17. Find the minimum value in a list.

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(min(numbers))

1

# Q18. Create a list of squares of numbers from 1 to 10.

In [14]:
l = []

for i in range(1,10):
    l.append(i * i)

print("List with square of integers from 1 to 50:")
print(l)

List with square of integers from 1 to 50:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

# Q19. Create a list of random numbers.

In [17]:
import random

rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[6, 4, 7, 3, 3, 7, 3, 8, 4, 9]

# Q20. Remove duplicates from a list.

In [20]:
numbers = [1,2,2,3,4,5,6,3,4,5,6,7,8,9,10,11,12,13,4,13,14,15,16,17,18,19,20]
print(set(numbers))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

# Q21. Find the common elements between two lists.

In [26]:
list1 = [1,2,3,4,5,6,11]
list2 = [3, 5, 7, 9,11]
list(set(list1).intersection(list2))

[11, 3, 5]

# Q22. Find the difference between two lists.

In [28]:
list1 = [1,2,3,4,5,6,11]
list2 = [3, 5, 7, 9,11]
list(set(list1).symmetric_difference(list2))

[1, 2, 4, 6, 7, 9]

# Q23. Merge two lists.

In [30]:
# Initializing lists
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]

# using + operator to concat
test_list3 = test_list3 + test_list4

# Printing concatenated list
print ("Concatenated list using + : "
				+ str(test_list3))

Concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

# Q24. Multiply all elements in a list by 2.

In [32]:

def multiplyList(myList):

	# Multiply elements one by one
	result = 1
	for x in myList:
		result = result * x
	return result


# Driver code
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

# Q25. Filter out all even numbers from a list.

In [1]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use a list comprehension to filter out even numbers
filtered_list = [x for x in original_list if x % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

# Q26. Convert a list of strings to a list of integers.

In [4]:
string_list = ["1", "2", "3", "4", "5"]

integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3, 4, 5]

# Q27. Convert a list of integers to a list of strings.

In [5]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]

print(string_list)

['1', '2', '3', '4', '5']

# Q35. Find the second largest number in a list.

In [1]:
def second_largest(input_list):
    sorted_list = sorted(set(input_list), reverse=True)
    
    if len(sorted_list) > 1:
        return sorted_list[1]
    else:
        return None  # There is no second-largest element

# Example usage:
numbers = [5, 2, 8, 7, 3, 9, 1]

result = second_largest(numbers)
print(result)

8

# Q36. Replace every element in a list with its square.

In [5]:
original_list = [1, 2, 3, 4, 5]

squared_list = [i**2 for i in original_list]

print(squared_list)

[1, 4, 9, 16, 25]

# Q37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [6]:
original_list = ['apple', 'banana', 'orange', 'grape']

# Using dictionary comprehension to create a dictionary
index_dict = {value: index for index, value in enumerate(original_list)}

print(index_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

# Q38. Shuffle the elements of a list randomly.

In [11]:
import random

original_list = [1, 2, 3, 4, 5]

# Shuffle the list in-place
random.shuffle(original_list)

print(original_list)

[3, 1, 5, 2, 4]

# Q39. Create a list of the first 10 factorial numbers.

In [12]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Generate a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(1, 11)]

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# Q40. Check if two lists have at least one element in common.

In [14]:
def have_common_element(list1, list2):
    # Convert lists to sets and check if there is an intersection
    return bool(set(list1) & set(list2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [ 6, 7, 8, 9]

result = have_common_element(list1, list2)
print(result)

False

# Q41. Remove all elements from a list.

In [15]:
original_list = [1, 2, 3, 4, 5]
original_list.clear()

print(original_list)

[]

# Q42. Replace negative numbers in a list with 0.

In [18]:
original_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using list comprehension
modified_list = [max(0, x) for x in original_list]

print(modified_list)

[1, 0, 3, 0, 5, 0]

# Q43. Convert a string into a list of words.

In [22]:
sentence = "Hello, this is a sample daheem sentence."

# Split the string into a list of words
word_list = sentence.split()

print(word_list)

['Hello,', 'this', 'is', 'a', 'sample', 'daheem', 'sentence.']

# Q44. Convert a list of words into a string.

In [21]:
word_list = ["Hello", "this", "is", "a", "pw", "sample", "list"]

# Join the list of words into a string
sentence = ' '.join(word_list)

print(sentence)

Hello this is a pw sample list

# Q45. Create a list of the first `n` powers of 2.

In [24]:
n = 8 

powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128]

# Q46. Find the longest string in a list of strings.

In [26]:
string_list = ["pw", "sudh", "krish", "alak panday", "imran"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

print(longest_string)

alak panday

# Q47. Find the shortest string in a list of strings.

In [28]:
string_list = ["pw", "sudh", "krish", "alak panday", "imran"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

print(shortest_string)

pw

# Q49. Check if a list contains another list as a subsequence.

# Q50. Swap two elements in a list by their indices.

In [1]:
def swap_elements(lst, index1, index2):
    # Swap elements using tuple unpacking
    lst[index1], lst[index2] = lst[index2], lst[index1]

# Example usage
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)

# Swap elements at index 1 and 3
swap_elements(my_list, 1, 3)

print("List after swapping:", my_list)

Original List: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]

# Tuple Based Practice Problem :

# Q1. Create a tuple with integers from 1 to 5.

In [2]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

# Q2. Access the third element of a tuple.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print("Third element:", third_element)

Third element: 3

# Q3. Find the length of a tuple without using the `len()` function.

In [5]:
my_tuple = (1, 2, 3, 4, 5)

length_of_tuple = 0
for i in my_tuple:
    length_of_tuple += 1

print("Length of the tuple:", length_of_tuple)

Length of the tuple: 5

# Q4. Count the occurrences of an element in a tuple.

In [6]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)

element_to_count = 2
occurrences = my_tuple.count(element_to_count)

print(f"The element {element_to_count} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

# Q5. Find the index of the first occurrence of an element in a tuple.

In [7]:
my_tuple = (1, 2, 3, 4, 2, 5, 2)

element_to_find = 2
index_of_element = my_tuple.index(element_to_find)

print(f"The index of the first occurrence of {element_to_find} is: {index_of_element}")

The index of the first occurrence of 2 is: 1

# Q6. Check if an element exists in a tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5)

element_to_check = 3
if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 3 exists in the tuple.

# Q7. Convert a tuple to a list.

In [11]:
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

print("Original tuple:", my_tuple)
print("Converted list:", my_list)

Original tuple: (1, 2, 3, 4, 5)
Converted list: [1, 2, 3, 4, 5]

# Q8. Convert a list to a tuple.

In [12]:
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

print("Original list:", my_list)
print("Converted tuple:", my_tuple)

Original list: [1, 2, 3, 4, 5]
Converted tuple: (1, 2, 3, 4, 5)

# Q9. Unpack the elements of a tuple into variables.

# Q10. Create a tuple of even numbers from 1 to 10.

In [13]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

# Q11. Create a tuple of odd numbers from 1 to 10.

In [14]:
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

# Q12. Concatenate two tuples.

In [15]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

# Q13. Repeat a tuple three times.

In [16]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Original tuple:", original_tuple)
print("Repeated tuple:", repeated_tuple)

Original tuple: (1, 2, 3)
Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

# Q14. Check if a tuple is empty.

In [17]:
empty_tuple = ()

if not empty_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

# Q15. Create a nested tuple.

In [18]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Q16. Access the first element of a nested tuple.

In [19]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

# Q17. Create a tuple with a single element.

In [20]:
single_element_tuple = (42,)

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

# Q18. Compare two tuples.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are equal.")
else:
    print("The two tuples are not equal.")

The two tuples are equal.

# Q19. Delete a tuple.

In [22]:
my_tuple = (1, 2, 3, 4, 5)

# Display the original tuple
print("Original tuple:", my_tuple)

# Delete the tuple
del my_tuple

Original tuple: (1, 2, 3, 4, 5)

# Q20. Slice a tuple.

In [1]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice from index 2 to 6 (exclusive)
sliced_tuple = my_tuple[2:6]

print(sliced_tuple)

(3, 4, 5, 6)

# Q21. Find the maximum value in a tuple.

In [2]:
my_tuple = (5, 10, 3, 8, 15, 7)

max_value = max(my_tuple)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 15

# Q22. Find the minimum value in a tuple.

In [3]:
my_tuple = (5, 10, 3, 8, 15, 7)

min_value = min(my_tuple)

print("Minimum value in the tuple:", min_value)

Minimum value in the tuple: 3

# Q23. Convert a string to a tuple of characters.

In [6]:
my_string = "Hello, pw"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

print(tuple_of_characters)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'p', 'w')

# Q24. Convert a tuple of characters to a string.

In [8]:
tuple_of_characters = ('H', 'e', 'l', 'l', 'o',  ' ', 'pw')

# Convert the tuple of characters to a string
string_from_tuple = ''.join(tuple_of_characters)

print(string_from_tuple)

Hello pw

# Q25. Create a tuple from multiple data types.

In [9]:
tuple = (1, 'hello', 3.14, True, [5, 6, 7])

print(tuple)

(1, 'hello', 3.14, True, [5, 6, 7])

# Q26. Check if two tuples are identical.

In [11]:
tuple1 = (1, 2, 3, 'hello')
tuple2 = (1, 2, 3, 'hell')

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are not identical.

# Q27. Sort the elements of a tuple.

In [20]:
tuple_1 = (4, 1, 7, 3, 9, 2)


tuple_1.sorted

print(tuple_1)

AttributeError: 'tuple' object has no attribute 'sorted'

# Q28. Convert a tuple of integers to a tuple of strings.

# Q30. Merge two tuples.

In [25]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Q32. Create a tuple of the first 5 prime numbers.

In [27]:
first_five_primes = (2, 3, 5, 7, 11)

print("Tuple of the First 5 Prime Numbers:", first_five_primes)

Tuple of the First 5 Prime Numbers: (2, 3, 5, 7, 11)

# Q33. Check if a tuple is a palindrome.

In [30]:
def is_palindrome_tuple(my_tuple):
    return my_tuple == my_tuple[::-1]

# Example usage:
example_tuple1 = (1, 2, 3, 2, 1)

print(is_palindrome_tuple(example_tuple1))  # Output: True

True

# Q34. Create a tuple of squares of numbers from 1 to 5.

In [28]:
squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)
print(squares_tuple)

(1, 4, 9, 16, 25)

# Q35. Filter out all even numbers from a tuple.

In [45]:
tuple_list = [(80, 111, 211),(2,4)]

result = [tup for tup in tuple_list if all(ele % 2 == 0 for ele in tup)]
print("After Filteration of all the tuple:",result)

After Filteration of all the tuple: [(2, 4)]

# Q36. Multiply all elements in a tuple by 2.

In [47]:
# Python code to convert list of tuple into list of elements
# formed by multiplying elements of tuple.

# Input list initialisation
Input = [(2, 3), (2, 5), (2, 7), (2, 8)]

# Output list initialisation
Output = []

# Iteration to multiply element and append multiplied element in 
# new list
for elem in Input:
	temp = elem[0]*elem[1]
	Output.append(temp)

print("\nThe answer is")
print(Output)

The answer is
[6, 10, 14, 16]

# Q37. Create a tuple of random numbers.

In [49]:
import random

low = 1
high = 9

mylist = [(random.randint(low, high), ) for k in range(10)]

print(mylist)

[(7,), (5,), (3,), (6,), (2,), (9,), (5,), (8,), (7,), (4,)]

# Q38. Check if a tuple is sorted.

In [53]:
def is_sorted_tuple(my_tuple):
    return all(my_tuple[i] <= my_tuple[i + 1] for i in range(len(my_tuple) - 1))

# Example usage:
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 8, 1, 7)

print(is_sorted_tuple(sorted_tuple))    # Output: True
print(is_sorted_tuple(unsorted_tuple))  # Output: False

True
False

# Q41. Create a tuple of the first 5 Fibonacci numbers.

# Q42. Create a tuple from user input.

In [62]:
# Get user input as a comma-separated string
user_input_str = input("Enter elements for the tuple  ")

# Convert the input string into a tuple
user_tuple = all(map(int, user_input_str.split(',')))

# Print the resulting tuple
print("User Tuple:", user_tuple)

Enter elements for the tuple   1

User Tuple: True

# Q43. Swap two elements in a tuple.

# Q44. Reverse the elements of a tuple.

In [63]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reverse the tuple using slicing
reversed_tuple = original_tuple[::-1]

# Print the original and reversed tuples
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

# Q46. Find the longest string in a tuple of strings.

In [64]:
# Tuple of strings
string_tuple = ("pw", "shud", "krish", "imran", "alak")

# Find the longest string using the max function and len as the key
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest String:", longest_string)

Longest String: krish

# Q47. Find the shortest string in a tuple of strings.

In [66]:
# Tuple of strings
string_tuple = ("pw", "shud", "krish", "imran", "alak")

# Find the shortest string using the max function and len as the key
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("Shortest String:", shortest_string)

Shortest String: pw

# Set Based Practice Problem :

 # Q1. Create a set with integers from 1 to 5.

In [69]:
set1 = set([1, 2, 3, 4, 5])
print(set1)

{1, 2, 3, 4, 5}

# Q2. Add an element to a set.

In [71]:
set1 = set([1, 2, 3, 4, 5])
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

# Q3. Remove an element from a set.

In [72]:
set1 = set([1, 2, 3, 4, 5])
set1.add(6)
set1.remove(3)
print(set1)

{1, 2, 4, 5, 6}

# Q4. Check if an element exists in a set.

In [75]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
element_exists = element_to_check in my_set

# Print the result
print(f"Does {element_to_check} exist in the set? {element_exists}")

Does 3 exist in the set? True

# Q5. Find the length of a set without using the `len()` function.

In [78]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
set_length = sum(1 for _ in my_set)

# Print the result
print(f"The length of the set is: {set_length}")

The length of the set is: 5

# Q6. Clear all elements from a set.

In [79]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()
print( my_set)

set()

# Q7. Create a set of even numbers from 1 to 10.

In [80]:
# Create a set of even numbers from 1 to 10
even_numbers_set = {i for i in range(2, 11, 2)}

# Print the set of even numbers
print("Set of even numbers:", even_numbers_set)

Set of even numbers: {2, 4, 6, 8, 10}

# Q8. Create a set of odd numbers from 1 to 10.

In [81]:
# Create a set of odd numbers from 1 to 10
odd_numbers_set = {i for i in range(1, 11, 2)}

# Print the set of odd numbers
print("Set of odd numbers:", odd_numbers_set)

Set of odd numbers: {1, 3, 5, 7, 9}

# Q9. Find the union of two sets.

# Q11. Find the difference between two sets.

In [82]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the difference using the difference() method
difference_set_method = set1.difference(set2)

# Find the difference using the - operator
difference_set_operator = set1 - set2

# Print the difference sets
print("Difference using method:", difference_set_method)
print("Difference using operator:", difference_set_operator)

Difference using method: {1, 2, 3}
Difference using operator: {1, 2, 3}

# Q12. Check if a set is a subset of another set.

In [83]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
print("Is set2 a subset of set1?", is_subset)

Is set2 a subset of set1? True

# Q13. Check if a set is a superset of another set.

In [84]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
print("Is set1 a superset of set2?", is_superset)

Is set1 a superset of set2? True

# Q14. Create a set from a list.

In [86]:
# Create a list
my_list = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Print the set
print("Set created from list:", my_set)

Set created from list: {1, 2, 3, 4, 5}

# Q15. Convert a set to a list.

In [87]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Print the list
print("List created from set:", my_list)

List created from set: [1, 2, 3, 4, 5]

# Q16. Remove a random element from a set.

In [88]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed Element:", removed_element)
print("Updated Set:", my_set)

Removed Element: 1
Updated Set: {2, 3, 4, 5}

# Q17. Pop an element from a set.

In [89]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped Element:", popped_element)
print("Updated Set:", my_set)

Popped Element: 1
Updated Set: {2, 3, 4, 5}

# Q18. Check if two sets have no elements in common.

In [90]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets have no elements in common
no_common_elements = set1.isdisjoint(set2)

# Print the result
print("Do the sets have no elements in common?", no_common_elements)

Do the sets have no elements in common? True

# Q19. Find the symmetric difference between two sets.

In [91]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the symmetric difference using the symmetric_difference() method
symmetric_difference_method = set1.symmetric_difference(set2)

# Find the symmetric difference using the ^ operator
symmetric_difference_operator = set1 ^ set2

# Print the symmetric difference sets
print("Symmetric Difference using method:", symmetric_difference_method)
print("Symmetric Difference using operator:", symmetric_difference_operator)

Symmetric Difference using method: {1, 2, 3, 6, 7, 8}
Symmetric Difference using operator: {1, 2, 3, 6, 7, 8}

# Q21. Create a set of the first 5 prime numbers.

In [93]:
# Create a set of the first 5 prime numbers
prime_numbers_set = {2, 3, 5, 7, 11}

# Print the set
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

# Q22. Check if two sets are identical.

In [94]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets are identical using the == operator
are_identical = set1 == set2

# Print the result
print("Are the sets identical?", are_identical)

Are the sets identical? True

# Q23. Create a frozen set.

In [95]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Create a frozen set
frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen Set:", frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

# Q24. Check if a set is disjoint with another set.

In [96]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using the isdisjoint() method
are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

# Q25. Create a set of squares of numbers from 1 to 5.

In [97]:
# Create a set of squares of numbers from 1 to 5
squares_set = {x ** 2 for x in range(1, 6)}

# Print the set
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

# Q26. Filter out all even numbers from a set.

In [98]:
# Create a set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out all even numbers using a set comprehension
filtered_set = {x for x in original_set if x % 2 != 0}

# Print the filtered set
print("Filtered Set (without even numbers):", filtered_set)

Filtered Set (without even numbers): {1, 3, 5, 7, 9}

# Q27. Multiply all elements in a set by 2.

In [99]:
# Create a set
original_set = {1, 2, 3, 4, 5}

# Multiply all elements by 2 using a set comprehension
multiplied_set = {x * 2 for x in original_set}

# Print the multiplied set
print("Multiplied Set:", multiplied_set)

Multiplied Set: {2, 4, 6, 8, 10}

# Q28. Create a set of random numbers.

In [100]:
import random

# Generate a set of 5 random numbers between 1 and 10
random_set = {random.randint(1, 10) for _ in range(5)}

# Print the random set
print("Random Set:", random_set)

Random Set: {1, 2, 3, 9}

# Q29. Check if a set is empty.

In [101]:
# Create an empty set
empty_set = set()

# Check if the set is empty using len()
is_empty = len(empty_set) == 0

# Print the result
print("Is the set empty?", is_empty)

Is the set empty? True

# Q30. Create a nested set (hint: use frozenset).

In [102]:
# Create nested sets using frozenset
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

# Q31. Remove an element from a set using the discard method.

In [103]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using the discard method
element_to_remove = 3
my_set.discard(element_to_remove)

# Print the set after removal
print("Set after removing", element_to_remove, ":", my_set)

Set after removing 3 : {1, 2, 4, 5}

# Q32. Compare two sets.

In [104]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if sets are equal
are_equal = set1 == set2

# Print the result
print("Are the sets equal?", are_equal)

Are the sets equal? True

# Q33. Create a set from a string.

In [105]:
# Create a string
my_string = "hello"

# Create a set from the string
my_set = set(my_string)

# Print the set
print("Set created from string:", my_set)

Set created from string: {'o', 'l', 'h', 'e'}

# Q34. Convert a set of strings to a set of integers.

In [106]:
# Create a set of strings
set_of_strings = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
set_of_integers = {int(x) for x in set_of_strings}

# Print the set of integers
print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

# Q35. Convert a set of integers to a set of strings.

In [107]:
# Create a set of integers
set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = {str(x) for x in set_of_integers}

# Print the set of strings
print("Set of strings:", set_of_strings)

Set of strings: {'5', '4', '1', '2', '3'}

# Q36. Create a set from a tuple.

In [108]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Print the set
print("Set created from tuple:", my_set)

Set created from tuple: {1, 2, 3, 4, 5}

# Q37. Convert a set to a tuple.

In [110]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = all(my_set)

# Print the tuple
print("Tuple created from set:", my_tuple)

Tuple created from set: True

# Q38. Find the maximum value in a set.

In [111]:
# Create a set
my_set = {1, 4, 2, 8, 5}

# Find the maximum value in the set
max_value = max(my_set)

# Print the maximum value
print("Maximum value in the set:", max_value)

Maximum value in the set: 8

# Q39. Find the minimum value in a set.

In [112]:
# Create a set
my_set = {1, 4, 2, 8, 5}

# Find the minimum value in the set
min_value = min(my_set)

# Print the minimum value
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

# Q40. Create a set from user input.

In [113]:
# Get user input as a comma-separated string of elements
user_input_str = input("Enter elements separated by commas: ")

# Convert the input string to a set
user_set = set(user_input_str.split(','))

# Print the set
print("Set created from user input:", user_set)

Enter elements separated by commas:  1,1,2,2,3,3

Set created from user input: {'2', '3', '1'}

# Q41. Check if the intersection of two sets is empty.

In [114]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection is empty using isdisjoint()
intersection_empty = set1.isdisjoint(set2)

# Print the result
print("Is the intersection empty?", intersection_empty)

Is the intersection empty? True

# Q42. Create a set of the first 5 Fibonacci numbers.

In [115]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

# Print the set
print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

# Q43. Remove duplicates from a list using sets.

In [116]:
# Create a list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using sets
list_without_duplicates = list(set(my_list))

# Print the list without duplicates
print("List without duplicates:", list_without_duplicates)

List without duplicates: [1, 2, 3, 4, 5]

# Q45. Create a set of the first `n` powers of 2.

In [117]:
# Function to generate the first n powers of 2
def generate_powers_of_2(n):
    powers_of_2_set = {2 ** i for i in range(n)}
    return powers_of_2_set

# Create a set of the first 5 powers of 2
first_5_powers_of_2 = generate_powers_of_2(5)

# Print the set
print("Set of the first 5 powers of 2:", first_5_powers_of_2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

# Q46. Find the common elements between a set and a list.

In [119]:
# Create a set and a list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using intersection() method
common_elements_method = my_set.intersection(my_list)

# Alternatively, you can use the & operator
# common_elements_operator = my_set & set(my_list)

# Print the common elements
print("Common elements using intersection() method:", common_elements_method)
# print("Common elements using & operator:", common_elements_operator)

Common elements using intersection() method: {3, 4, 5}

# Q50. Merge multiple sets into one.

In [118]:
# Create three sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using union() method
merged_set_method = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set_operator = set1 | set2 | set3

# Print the merged set
print("Merged set using union() method:", merged_set_method)
# print("Merged set using | operator:", merged_set_operator)

Merged set using union() method: {1, 2, 3, 4, 5, 6, 7}